body {
    font-family: "dosis";
    background: #EDE9FE;
}

.card {
    background: white;
    margin: 80px;
    padding: 12px 38px 64px 38px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 6px 14px 3px rgba(156, 163, 175, 0.77);
    box-shadow: 1px 6px 14px 3px rgba(156, 163, 175, 0.77);
}

.form {
    display: flex;
    flex-direction: column;
}

.inline {
    display: flex;
    width: full;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label {
    font-weight: bold;
    color: #374151;
}

input {
    background-color: #F9FAFB;
}

.title {
    text-align: center;
    color: #374151;
}

.form input {
    padding: 9px 18px;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    font-size: 17px;
    font-family: "dosis";
    outline: none;
}


.form input:hover {
    border: 3px solid #DDD6FE;
    background-color: white;

}

.form button {
    background: #C4B5FD;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    font-family: "dosis";
    text-transform: uppercase;
    -webkit-box-shadow: 1px 3px 4px 1px rgba(156, 163, 175, 0.69);
    box-shadow: 1px 3px 4px 1px rgba(156, 163, 175, 0.69);
}

.form button:hover {
    background: #8B5CF6;
}